@use '../abstracts/variables';

.footer{
    background-color: variables.$body-color;
    margin-top: 100px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    @media (min-width: 320px) and (max-width: 768px){
        row-gap: 15px;
        margin-top: 15px;
    }        
    p{
        color : variables.$white-text;
        @media (min-width: 320px) and (max-width: 768px){
            font-size: 12px;
        }
    }
}

.line-break-footer{
    display: none;
    @media (min-width: 320px) and (max-width: 768px){
            display: inline;
        }
}