

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    
    ul{
        list-style: none;
        display: flex;
        column-gap: 30px;
    
    li{ 
        & a{
        color: $body-color;
        text-decoration: none;
        border: 1px solid transparent;
        
        &.active {
            border-bottom: 1px solid $body-color;
        }
    }
    }
    
    }
}