@use '../abstracts/variables';

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    
    ul{
        list-style: none;
        display: flex;
        column-gap: 30px;
    
    li{ 
        & a{
        color: variables.$body-color;
        text-decoration: none;
        border: 1px solid transparent;
        
        &.active {
            border-bottom: 1px solid variables.$body-color;
            cursor: default;
        }
            }
        }
    }
    @media (min-width: 320px) and (max-width: 768px) {
        & img{
            width: 30%;
        }
    }
}