

   .collapse{background-color: #FF6060;
    color: $white-text;
    border-radius: 5px;
    margin: auto;
    padding: 10px 20px 10px 15px;
    position: relative;
    margin-bottom: 20px;
   }
   .arrow-img{
    position: absolute;
    top: 20px;
    right: 20px;
   }