.description-logement{
     margin: 5px auto;
        background-color: $background-gallery;
        width: 100%;
}

.collapse{
    background-color: #FF6060;
    color: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    padding: 10px 20px 10px 15px;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}